*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card{
  padding: 10px;
  border:2px ;
  box-shadow: 0 0  3px ;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  column-gap: 2px;
}
.tourprice{
  color: #1faa59;
  font-size: 1.4rem;
  font-weight: bold;
}

.tourheading{
  font-size: 1.5rem;
  font-weight: bold;
}
.not{
  display: flex;
  margin: 0 auto;
 
  
}
.notintre{
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 80px;
  background-color: #b4161b21;
    border: 1px solid #b4161b;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.notintre:hover{
  background-color:#fb0810;
  color: white;

}
.btn{
  border: none;
  background-color: white;
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(3, 163, 188);
  cursor: pointer;
}